@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #7386D5; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.1em;
    color: #fff;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar 160px*/
    padding: 0px 10px;
    padding-left: 5%;
    padding-right: 2%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#title {
    padding: 6px 8px 6px 16px;
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 2em;
    font-weight: bold;
}

#description-title {
    padding-top: 5%;
    font-size: 2em;

}

.justify {
    text-align: justify;
}

p {
    color: #999;
}

li {
    color: #999;
}

#other-title {
    font-size: 2em;
    padding-top: 1%;
}

#code {
    color: #999;
    font-family: 'Poppins', sans-serif;
}