@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.sidenav {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #7386D5; 
    overflow-x: hidden; 
    padding-top: 20px;
}


.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.1em;
    color: #fff;
    display: block;
}


.sidenav a:hover {
    color: #f1f1f1;
}


.main {
    margin-left: 160px; 
    padding: 0px 10px;
    padding-left: 5%;
    padding-right: 2%;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#title {
    padding: 6px 8px 6px 16px;
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 2em;
    font-weight: bold;
}

#description-title {
    padding-top: 5%;
    font-size: 2em;

}

.justify {
    text-align: justify;
}

p {
    color: #999;
}

li {
    color: #999;
}

#other-title {
    font-size: 2em;
    padding-top: 1%;
}

#code {
    color: #999;
    font-family: 'Poppins', sans-serif;
}